body{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.navigation{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
}
.site-logo{
    text-decoration: none;
    color:#95e1d3 ;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 25px;
}
.nav-menu{
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 1110px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 40px;
    list-style-type: none;
}
.after{
    margin-right: 40px;
    text-decoration: none;
    color: #a9e7db;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}
.nav-menu a:hover {
    color: #f38181;
}
.nav-menu li:last-child {
    margin-right: 0;
}
.nav-menu a::after{
    display: flex;
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color:#f38181;
    opacity: 0;
    transition: opacity 200ms linear,color 200ms linear;
    top: 65px;
}
.nav-menu a:hover::after{
    opacity: 1;
}
.we-work{
    position: relative;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    text-align: center;
    padding-top: 130px;
    padding-bottom: 112px;
}
.amazing{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.wrapper li{
    width: 400px;
}
.wrapper li:nth-child(-n + 3) {
    margin-bottom: 50px;
}
.amazing::after{
    display: flex;
    content: '';
    position: absolute;
    left: 570px;
    top: 250px;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}
.wrapper{
    position: relative;
    display: flex;
    list-style-type: none;
    width: 1200px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.wrapper h3{
    padding-left: 82px ;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase; 
}
.wrapper p{
    padding-left: 82px ;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    font-weight: bold;
}
.logo1::after{
    display: flex;
    content: '';
    position: absolute;
    background-image: url(../img/pfoto1.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 34px;
    left: 30px;
    top: 15px;
}
.logo2::after{
    display: flex;
    content: '';
    position: absolute;
    background-image: url(../img/pfoto2.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 34px;
    left: 430px;
    top: 15px;
}
.logo3::after{
    display: flex;
    content: '';
    position: absolute;
    background-image: url(../img/pfoto3.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 34px;
    top: 15px;
    right: 340px;
}
.logo4::after{
    display: flex;
    content: '';
    position: absolute;
    background-image: url(../img/pfoto4.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 34px;
    left: 30px;
    top: 160px;
}
.logo5::after{
    display: flex;
    content: '';
    position: absolute;
    background-image: url(../img/pfoto5.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 34px;
    left: 430px;
    top: 160px;
}
.logo6::after{
    display: flex;
    content: '';
    position: absolute;
    background-image: url(../img/pfoto6.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 34px;
    right: 340px;
    top: 160px;
}
.we-work p{  
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    font-weight: bold;
    padding-top: 50px;
}
.cards{
    display: inline-flex;
}
.basis{
    position: relative;
    margin-right: 15px;
    background-color: rgb(149, 225, 211);
    width: 382px;
    height: 472px;
}
.twitter{
    position: absolute;
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #fce38a;
    width: 56px;
    height: 56px;
    top: 208px;
    left: 80px;
}
.twitter:hover{
    background-color: #95e1d3;
}
.pinterest{
    position: absolute;
    background-image: url(../img/pinterest.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #fce38a;
    width: 56px;
    height: 56px;
    top: 208px;
    left: 136px;
}
.pinterest:hover{
    background-color: #95e1d3;
}
.instagram{
    position: absolute;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #fce38a;
    width: 56px;
    height: 56px;
    top: 208px;
    left: 192px;
}
.instagram:hover{
    background-color: #95e1d3;
}
.facebook{
    position: absolute;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #fce38a;
    width: 56px;
    height: 56px;
    top: 208px;
    left: 248px;
}
.facebook:hover{
    background-color: #95e1d3;
}
.substrate{
    position: absolute;
    width: 382px;
    height: 472px;
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    opacity: 0;
    transition: opacity 200ms linear,color 200ms linear;
}
.basis:hover .substrate {
    transform: translate(-10px,-10px);
    opacity: 0.9;
}
.cards h4{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    text-align: center;
}
.cards p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    text-align: center;
}
.footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}
.footer p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    padding-top: 26px;
    padding-bottom: 26px;
}
.footer a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
}
.footer a:hover{
    color: #fbd7d7;
}
.footer p::before{
    display: flex;
    content: '';
    position: absolute;
    height: 1px;
    width: 1200px;
    bottom: 80px;
    background-color: #e5e5e5;
}
.subscribe{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #95e1d3;
    width: 150px;
    height: 40px;
    margin-top: 30px;
}
.email{
    display: flex;
    justify-content: flex-end;
}
 .your-email{
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    border-color: rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    color: rgb(204, 204, 204);
    font-style: italic;
    margin-top: 30px;
    width: 228px;
    height: 27px;
    padding-top: 12px;
    padding-left: 12px;
  }
  