html{
    box-sizing: border-box;
}
*, *::before,
 *::after {
     box-sizing: initial;
    }
    .conteiner{
        width: 900px;
        margin: 0 auto;
    }
    .padding{
        padding-top: 77px;
        padding-bottom: 104px;
    }
    .menu{
        margin: 0;
        text-align: center;
    }
    .menu li{
        margin-right: 110px;
    }
    ul li{
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Playfair Display', serif;
        margin-right: 110px;
    }
    .menu li:last-child{
        margin-right: 0;
    }
    a{
        text-decoration: none;
        color: #626262;
    }
    ul li a:hover{
        color: #03a9f4;
    }
    section article{
        box-sizing: border-box;
        display: inline-block;
        width: 420px;
    }
    .wrapper{
        margin-right: 56px;
    }
    .lifestyle{
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        color: rgb(180, 173, 158);
        text-transform: uppercase;
        margin: 0;
        line-height: 32px;
    }
    h3{
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        color: rgb(98, 98, 98);
        margin: 0;
        line-height: 30px;
    }
    .Lorem{
        font-size: 14px;
        font-family: 'Playfair Display', serif;
        color: rgb(98, 98, 98);
        line-height: 24px;
      }
      .ipsum{
          margin-bottom: 135px;
      }
    .border{
        margin:0 auto;
        width:162px;
        display: block;
        padding: 21px 34px 21px 34px;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        border-width: 1px;
        border-color:#626262;
        border-style: solid;
    }
    .border:hover{
        color: #03a9f4;
    }