ul li{
    display: inline-block;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 14px;
    font-family: "Myriad Pro";
}
.lif{
    color: #03a9f4;
    margin-left: 321px;
    text-decoration: none;
    margin-top: 77px;
}
.pho{
    margin-left: 135px;
    margin-top: 77px;
    text-decoration: none;
    color: #626262;
}
.mu{
    margin-left: 114px;
    margin-top: 77px;
    text-decoration: none;
    color: #626262;
}
.trav{
    margin-left: 102px;
    margin-top: 77px;
    text-decoration: none;
    color: #626262;
}
.img1{
    margin-left: 150px;
    margin-right: 631px;
    margin-top: 106px;
    padding-bottom: 500px;
    display: inline-block;
}