body{
    margin: 0 auto;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-600.woff') format('woff');
  }
  @font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'),
         url('../fonts/permanent-marker-v9-latin-regular.woff2') format('woff2'),
         url('../fonts/permanent-marker-v9-latin-regular.woff') format('woff'); 
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-slab-v10-latin-regular.woff') format('woff');
  }
.container{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 128px;
    width: 940px;
    margin: 0 auto;
}
.container a{
    font-size: 26px;
    font-family: "Permanent Marker";
    text-decoration: none;
    color: #fed136;
}
.container-menu{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container-menu a{
    font-size: 14px;
    font-family: "Montserrat";
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    vertical-align: sub;
}
.container-menu li{
    margin-right: 42px;
}
.container-menu li:last-child{
    margin-right: 0;
}
.container-menu a:hover{
    color: #fed136;
}
.container1{
    width: 940px;
    margin: 0 auto;
}
.services{
    text-align: center;
    padding-bottom: 100px;
}
.services h2{
    font-size: 40px;
    font-family: "Permanent Marker";
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    margin: 0;
    line-height: 40px;
}
.services p{
    font-size: 16px;
    font-family: "Permanent Marker";
    color: #777777;
    margin: 0;
    line-height: 40px;
}
.icon-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 122px;
}
.icon{
    display: flex;
    position: relative;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.div{
    margin-right: 35px;
    width: 290px;
}
.div:last-child{
    margin-right: 0;
}
.icon1{
    background-image: url(../img/icon1.png);
    background-repeat: no-repeat;
    border: 3px solid #fed136;
    background-position: center;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.icon2{
    background-image: url(../img/Icon2.png);
    background-repeat: no-repeat;
    border: 3px solid #fed136;
    background-position: center;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}.icon3{
    background-image: url(../img/Icon3.png);
    background-repeat: no-repeat;
    border: 3px solid #fed136;
    background-position: center;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.icon h4{
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-align: center;
    margin: 0;
    line-height: 50px;
}
.icon p{
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(119, 119, 119);
    text-align: center;
    margin: 0;
}
.wrapper{
    background-image: url(../img/MapImage.png);
    background-repeat: no-repeat;
    background-position: 100% 88%;
    background-color: black;
    height: 676px;
}
.wrapper h2{
    font-size: 40px;
    font-family: "Permanent Marker";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding-top: 114px;
    margin: 0;
}
.wrapper p{
    font-size: 16px;
    font-family: "Permanent Marker";
    color: rgb(119, 119, 119);
    text-align: center;
    margin: 0;
}
.profile-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.profile{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: calc(50% - 15px);
}
.name{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
}
.email{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    margin-top: 30px;
}
.subject{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    margin-top: 30px;
}
.your-message{
    display: flex;
    resize: none;
    justify-content: end;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    height: 218px;
    width: calc(50% - 15px);
}
.send-message{
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border-style: solid;
    text-align: center;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    width: 240px;
    height: 66px;
    margin-top: 30px;
    margin-left: 350px;

}
.focus:focus:valid {
    outline: 1px solid #008000;
}
.focus:focus:invalid {
    outline: 1px solid #ff0000;
}
