body{
    margin: 0 auto;
    padding: 0;
}

.menu li{
    display:inline-block;
    padding-top: 38px;
    padding-bottom: 32px;
    margin-right: 20px;
}
.menu{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.navigation{
    text-decoration: none;
    text-transform: uppercase;
    color:#0f0101;
    font-size: 14px;
    font-family: "OpenSans";
    font-weight: bold;
}
nav{
    width: 1110px;
    margin: 0 auto;
}
.logo{
    font-family: 'Roboto', sans-serif;
    padding-top: 38px;
    padding-bottom: 30px;
    margin-right: 570px;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color:#0f0101;
}
.menu li:last-child{
    margin-right: 0;
}
.nav:first-letter{
    color: #1abc9c;
    font-weight: bold;
}
li a:hover{
    color: #1abc9c;
}
.affordable{
    display: block;
    position: absolute;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
     top: 50%;
    left: 50%;
    transform: translate(-56%,-220%);
}
.div{
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 2);
    opacity: 0;
}
.quotes{
    position: relative;
    height: 600px;
}
.quotes:hover .div {
   opacity: 0.522;
}

.sity{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 54px;
    color: #ffffff;
    text-transform: uppercase;
    top: 50%;
   left: 50%;
   transform: translate(-87%,-87%);
}
.svg{
    background-image: url(img/svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: block;
    cursor: pointer;
    position: absolute;
    padding: 30px;
    font-size: 100px;
    font-family: "Pe";
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-540%,-86%);
    width: 104px;
    height: 104px;
    color: rgb(255, 255, 255) ;
    border: none;
}
.svg:hover{
    background-color: #55a18f;
}
.svg1{
    background-image: url(img/svg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: block;
    cursor: pointer;
    position: absolute;
    padding: 30px;
    font-size: 100px;
    font-family: "Pe";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(+420%,-86%);
    width: 104px;
    height: 104px;
    color:rgb(255, 255, 255);
    border: none;
}
.svg1:hover{
    background-color: #55a18f;
}
.wrapper{
    position: relative;

    background-color: #e9f0fd;
}
.section-width{
    text-align: center;
    margin: 0;
    height: 674px;
}
.new-collection{
    margin: 0;
    padding-top: 100px;
    padding-bottom: 120px;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    text-align: center;
}   
.new-collection::after{
    content: '';
    position: absolute;
    width: 160px;
    height: 8px;
    top: 175px;
    right: calc(50% - 80px);
    background-color: #1abc9c;
}
.section{
    display: inline-block;
    margin-right: 30px;
    position: relative;
}
.div-boxing{
    position: relative;
}
.substrate{
    position: absolute;
    width: 236px;
    height: 262px;
    top: 10px;
    left: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0;
}
.div-boxing:hover .substrate {
    opacity: 0.55;
}
.section:nth-child(5n){
    margin-right: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.box-description{
    display: block;
    position: absolute;
    width: 200px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    top: 282px;
}
.box-price{
    display: block;
    position: absolute;
    width: 55px;
    height: 40px;
    background-color: hsl(0, 0%, 55%);
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    top: 282px;
    right: 0;
}
.div-boxing:hover .box-description {
    background-color: #1abc9c;
}
.div-boxing:hover .box-price{
    background-color: #7fd9c7;
}
.add{
    display: block;
    position: absolute;
    top: 19px;
    left: 58px;
    text-transform: uppercase;
}
.img{
    border-style: none;
}
.slide-svg1{
    background-image: url(img/nomber1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    font-size: 1px;
    font-family: "Pe";
    text-transform: uppercase;
    top: 90px;
    width: 55px;
    height: 55px;
    left: 22px;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    background-color: rgb(50, 50, 50,0);
}
.slide-svg1:hover{
    background-color: #1abc9c;
}
.slide-svg2{
    background-image: url(img/nomber2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    font-size: 1px;
    font-family: "Pe";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    top: 90px;
    width: 55px;
    height: 55px;
    left: 90px;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    background-color: rgb(50, 50, 50);
}
.slide-svg2:hover{
    background-color: #1abc9c;
}
.slide-svg3{
    background-image: url(img/nomber3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    font-size: 100px;
    font-family: "Pe";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    top: 90px;
    width: 55px;
    height: 55px;
    left: 158px;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    background-color: rgb(50, 50, 50);
}
.slide-svg3:hover{
    background-color: #1abc9c;
}
.slide-svg4{
    background-image: url(img/nomber4.png);
    background-repeat: no-repeat;
    background-position: left;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 154px;
    left: 22px;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    width: 192px;
    height: 52px;
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    text-transform: uppercase;
}
.slide-svg4:hover{
    background-color: #1abc9c;
}
.footer{
    background-color: #323232;
    margin: 0;
    padding-top: 38px;
    padding-bottom: 38px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(254, 254, 254);
    text-align: center;
}
.themengraph{
    text-decoration: none;
    list-style-type: none;
    color: rgb(254, 254, 254);
}
.themengraph:hover{
    color: #46bfa9;
}
.add{
    display: block;
    position: absolute;
    top: 19px;
    left: 58px;
    text-transform: uppercase;
}
.img{
    border-style: none;
}
