
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .icon-clock::after{
        background-image:url(../images/icon@2x.png);
    }
    .icon-dash::after{
        background-image:url(../images/icon1@2x.png);
    }
    .icon-computer::after{
        background-image:url(../images/icon2@2x.png);
    }
    .icon-book::after{
        background-image:url(../images/icon3@2x.png);
    }
    .icon-house::after{
        background-image:url(../images/icon4@2x.png);
    }
    .icon-square::after{
        background-image:url(../images/icon5@2x.png);
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .banner{
        background-image: -webkit-linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url(../images/Layer15@2x.jpg);
    }
}