$main-font-family: 'Montserrat';
$main-color: rgb(255, 255, 255);
$main-font-size: 14px;
$menu-hover-color: rgb(252, 227, 138);
$auxiliary-color: rgb(153, 153, 153);
$teem-icon-color: rgb(243, 129, 129);
$icon-color: rgb(149, 225, 211);
$input-color: rgb(214, 214, 214);