body{
    margin: 0;
    padding: 0;
}
.banner{
    position: relative;
    background-image: -webkit-linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url(../img/Layer15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    top: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.site-logo__link{
    font-size: 30px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}
.site-navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
}
.menu-navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.menu-navigation__item{
    margin-right: 42px;
    list-style-type: none;
}
.menu-navigation__item:last-child{
    margin-right: 0;
}
.menu-navigation__link{
    position: relative;
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}
.menu-navigation__svg{
    width: 18px;
    height: 15px;
    fill: rgb(255, 255, 255);
    vertical-align: text-bottom;
}
.menu-navigation__svg:hover{
    fill: rgb(252, 227, 138);
}
.menu-navigation__link::after{
    content: '';
    position: absolute;
    background-color: rgba(252, 227, 138, 0);
    width: 100%;
    height: 3px;
    top: 25px;
    left: 0;
}
.menu-navigation__link:hover{
    color: rgb(252, 227, 138);
}
.menu-navigation__link:hover::after{
    background-color: rgba(252, 227, 138, 1);
}
.page-div__paragraph{
    font-size: 72px;
    font-family: 'Kaushan Script';
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 168px auto 42px;
}
.page-div__heading{
    font-size: 150px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 142px;
    margin: 0 auto 124px;
}
.page-div__button{
    display: block;
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    width: 164px;
    height: 44px;
    margin: 0 auto;
}
.page-main__discription{
    font-size: 24px;
    font-family: 'Kaushan Script';
    color: rgb(51, 51, 51);
    text-align: center;
    margin: 46px auto 26px;
}
.page-main__headline{
    position: relative;
    font-size: 30px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}
.page-main__headline::after{
    content: '';
    position: absolute;
    background-color: rgb(243, 129, 129);
    position: absolute;
    width: 60px;
    height: 3px;
    top: 52px;
    left: 572px;
}
.colums{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 108px 0 94px;
}
.section-colums{
    position: relative;
    width: 380px;
}
.section-colums:nth-child(-n + 3) {
    margin-bottom: 104px;
}
.section-colums__width{
    width: 300px;
    padding-left: 80px;
}
.colums__title{
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    margin: 0 0 20px;
    text-align: left;
}
.colums__text{
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(153, 153, 153);
    font-weight: bold;
    margin: 0;
    text-align: left;
}
.icon-clock::after{
    content: '';
    position: absolute;
    background-image:url(../img/icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(149, 225, 211);
    width: 32px;
    height: 32px;
    top: 0;
    left: 20px;
}
.icon-dash::after{
    content: '';
    position: absolute;
    background-image:url(../img/icon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(149, 225, 211);
    width: 32px;
    height: 32px;
    top: 0;
    left: 20px;
}
.icon-computer::after{
    content: '';
    position: absolute;
    background-image:url(../img/icon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(149, 225, 211);
    width: 32px;
    height: 32px;
    top: 0;
    left: 20px;
}
.icon-book::after{
    content: '';
    position: absolute;
    background-image:url(../img/icon3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(149, 225, 211);
    width: 32px;
    height: 32px;
    top: 0;
    left: 20px;
}
.icon-house::after{
    content: '';
    position: absolute;
    background-image:url(../img/icon4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(149, 225, 211);
    width: 32px;
    height: 32px;
    top: 0;
    left: 20px;
}
.icon-square::after{
    content: '';
    position: absolute;
    background-image:url(../img/icon5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(149, 225, 211);
    width: 32px;
    height: 32px;
    top: 0;
    left: 20px;
}
.page-main__text{
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(153, 153, 153);
    width: 980px;
    text-align: center;
    margin: 94px auto 98px;
}
.teem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 180px;
}
.teem-block{
    position: relative;
    background-color: rgb(149, 225, 211);
    width: 380px;
    height: 470px;
    z-index: 1;
}
.teem-block__gradient{
    position: absolute;
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    width: 380px;
    height: 470px;
    top: 0;
    opacity: 0;
    z-index: 2;
}
.icon-facebook{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: rgb(252, 227, 138);
    fill: rgb(243, 129, 129);
    padding: 13px;
    width: 30px;
    height: 30px;
    top: 208px;
    left: 78px;
}
.icon-facebook:hover{
    background-color: rgb(243, 129, 129);
    fill: rgb(255, 255, 255);
}
.icon-twitter{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: rgb(252, 227, 138);
    fill: rgb(243, 129, 129);
    padding: 13px;
    width: 30px;
    height: 30px;
    top: 208px;
    left: 135px;
}
.icon-twitter:hover{
    background-color: rgb(243, 129, 129);
    fill: rgb(255, 255, 255);
}
.icon-pinterest{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: rgb(252, 227, 138);
    fill: rgb(243, 129, 129);
    padding: 13px;
    width: 30px;
    height: 30px;
    top: 208px;
    left: 192px;
}
.icon-pinterest:hover{
    background-color: rgb(243, 129, 129);
    fill: rgb(255, 255, 255);
}
.icon-instagram{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: rgb(252, 227, 138);
    fill: rgb(243, 129, 129);
    padding: 13px;
    width: 30px;
    height: 30px;
    top: 208px;
    left: 249px;
}
.icon-instagram:hover{
    background-color: rgb(243, 129, 129);
    fill: rgb(255, 255, 255);
}
.teem-block:hover .teem-block__photo {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}
.teem-block:hover .teem-block__gradient {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    opacity: 0.9;
}
.teem-block__title{
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 15px;
}
.teem-block__occupation{
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(153, 153, 153);
    font-style: italic;
    text-align: center;
    margin: 0;
}
.page-footer{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 26px;
}
.page-footer__title{
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgb(51, 51, 51);
}
.page-footer__link{
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgb(243, 129, 129);
    text-decoration: none;
}
.page-footer::before{
    content: '';
    background-color: rgb(229, 229, 229);
    position: absolute;
    width: 100%;
    height: 1px;
}
.page-footer__table{
    margin-top: 10px;
    font-size: 0;
}
.page-footer__input{
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(48, 45, 45,);
    border: 1px solid rgb(231, 231, 231);
    cursor: pointer;
    text-align: left;
    width: 222px;
    height: 37px;
    padding: 0 12px;
}
.page-footer__input::-webkit-input-placeholder{
    color: rgb(214, 214, 214);
    font-style: italic;
}
.page-footer__input::-moz-placeholder{
    color: rgb(214, 214, 214);
    font-style: italic;
}
.page-footer__input:-ms-input-placeholder{
    color: rgb(214, 214, 214);
    font-style: italic;
}
.page-footer__input::-ms-input-placeholder{
    color: rgb(214, 214, 214);
    font-style: italic;
}
.page-footer__input::placeholder{
    color: rgb(214, 214, 214);
    font-style: italic;
}
.page-footer__button{
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    background-color: rgb(149, 225, 211);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 40px;
    padding: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .icon-clock::after{
        background-image:url(../img/icon@2x.png);
    }
    .icon-dash::after{
        background-image:url(../img/icon1@2x.png);
    }
    .icon-computer::after{
        background-image:url(../img/icon2@2x.png);
    }
    .icon-book::after{
        background-image:url(../img/icon3@2x.png);
    }
    .icon-house::after{
        background-image:url(../img/icon4@2x.png);
    }
    .icon-square::after{
        background-image:url(../img/icon5@2x.png);
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .banner{
        background-image: -webkit-linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url(../img/Layer15@2x.jpg);
    }
}